.main-title{
    text-align: center;
    margin: 5% 0%;
    font-size: 5rem;
    color: white;
    font-style: italic;
}

.img-card{
    height: 10rem;
}

.curs-title{
    text-align: center;
    margin: 5% 0%;
    font-size: 1.5rem;
    color: white;
    font-style: italic;
}

.per-card{
    color: white;
    background-color: rgba(0, 0, 0, 0.498);
    border-radius: 15px;
    height: 35rem;
}

.desc-card{
    margin-bottom: 10%;
    padding: 5%;
    height: 12rem;
    overflow: hidden;
}


.bot-card{
    display: flex;
    margin: auto;
}

.txt-btn{
    font-weight: bold;
    color: white;
    text-decoration: none;
}


