<app-layout>
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <h2 class="curs-title">Cursos</h2>
        <!-- Cartas -->
        <div class="row mb-5">
          <div class="col mb-4" *ngFor="let i of curso">

            <div class="card" style="width: 18rem;">
              <img src="{{i.imagenes}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{i.titulo}}</h5>
                <p class="card-text">{{i.descripcion}}</p>
                <div class="row">
                  <a href="/product-details/{{i.id}}" class="btn btn-warning">Detalles</a>
                  <button href="" class="btn btn-primary mt-3" (click)="agregarCarrito">Comprar</button>
                </div>
              </div>
            </div>
            

          </div>
        </div>
      </div>

      
    </div>
  </main>
</app-layout>


<!-- <div class="card per-card">
  <img
    src="{{i.imagenes}}"
    class="tiger"
  />
  <div class="card-body">
    <h5 class="card-title mt-3 text-center">{{i.titulo}}</h5>
    <p class="card-text">{{i.descripcion}}</p>
    <div class="row">
      <a href="/product-details/{{i.id}}" class="btn btn-warning">Detalles</a>
      <a href="/carrito" class="btn btn-primary mt-3" (click)="agregarCarrito">Comprar</a>
    </div>
  </div>
</div> -->