<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.component.css">
    <title>Document</title>
</head>
<body>
    
<footer class="footer"> 

    <div class="container-icon-footer"> 

        <img class="icon" src="assets/img/home/img-footer/facebook-logo.png" alt=""> 

        <img class="icon" src="assets/img/home/img-footer/instagram-logo.png" alt=""> 

        <img class="icon" src="assets/img/home/img-footer/twitter-logo.png" alt=""> 

        <img class="icon" src="assets/img/home/img-footer/youtube-logo.png" alt=""> 

    </div> 
</footer>
</body>
</html>

 
