.footer{ 
    padding: 1% 0%; 
    margin-top: 5%; 
    background-color: black; 
} 

.container-icon-footer{ 
    margin: auto; 
    display: flex; 
    gap: 1%; 
} 

.icon{
    margin-left: 1%;
    height: 2rem;
    width: 2rem;
}

@media screen and (min-width: 180px) and (max-width: 540px){
    .icon{
        margin: auto;
    }
}
