.sidebar-back {
    background-color: #394867;
}

.body-dashboard{
    height: 70vh;
}

.nav-but {
    text-align: start;
    width: 100%;
    margin: 1px;
    border-radius: 0 10px 10px 0;
    padding: 4px;
    color: #F1F6F9;
    text-decoration: none;
}

.nav-but:hover {
    background-color: #9BA4B5;
    color: black;
    transition: 1s;
}