<app-layout>
    <!-- Main Content -->
    <main class="container-fluid mt-3 px-3">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 col-lg-2 d-md-block sidebar sidebar-back">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="dashboard">
                                <i class="bi bi-speedometer2 me-2 text-white"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page" href="#">
                                <i class="bi bi-file-earmark-text me-2 text-white"></i> Cursos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">
                                <i class="bi bi-graph-up me-2 text-white"></i> Reportes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">
                                <i class="bi bi-cloud-arrow-down me-2 text-white"></i> Categorias
                            </a>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link btn btn-link text-white" type="button" data-bs-toggle="collapse" data-bs-target="#usersCollapse" aria-expanded="false" aria-controls="usersCollapse">
            <i class="bi bi-people me-2 text-white"></i> Usuarios <i class="bi bi-caret-down-fill ms-2"></i>
          </button>
                            <div class="collapse" id="usersCollapse">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">All Users</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">Add User</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#">User Roles</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-md-9 col-lg-10">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Total de Estudiantes</h5>
                                <p class="card-text">100</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Estudiantes Graduados</h5>
                                <p class="card-text">50</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">
                                <h5 class="card-title">Estudiantes Activos</h5>
                                <p class="card-text">50</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</app-layout>