<app-layout>
  <div class="container">
    <div class="row">
      <h1>Cursos</h1>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Imagenes</th>
              <th scope="col">Titulo</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Lenguajes</th>
              <th scope="col">Nivel</th>
              <th scope="col">Precio</th>
              <th scope="col" colspan="2">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <!--
                            <tr *ngFor="let i of dato">
                            <td scope="row">{{i.id}}</td>
                            <td>{{i.Nombre}}</td>
                            <td>{{i.Apellido}}</td>
                            <td>{{i.Email}}</td>
                            <td>{{i.Rol}}</td>
                            <td>Contraseña</td>
                            <div>
                                <td>
                                    <button type="button" class="btn btn-warning">Editar</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                </td>
                            </div>
                        </tr>
                        -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-layout>
