<app-layout>
    <main class="w-25 h-25">
        <h2>Pago exitoso!</h2>
        <p>¡Gracias por tu compra!</p> 
        <p>Detalles del pedido:</p> 
        <ul class="list-group">
          <li class="list-group-item">Precio: </li>
          <li class="list-group-item">Cantidad: </li>
          <li class="list-group-item">Impuestos: </li>
          <li class="list-group-item">Subtotal: </li>
          <li class="list-group-item">Descuento: </li>
          <li class="list-group-item">Orden: </li>
          <li class="list-group-item">Curso: </li>
        </ul>
      </main>
</app-layout>
