main {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  
  }

  h2{
    text-align: center;
  }
  p{
    text-align: center;
  }
  ul {
    margin: 10px 0;
    padding: 0;
    
  }
  .list-group-item {
    background-color: #f9f9f9;
    border-color: #ddd;
    padding: 8px 10px;
  }