<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&family=Poppins:wght@100;200;400;700&display=swap" rel="stylesheet">
    <!-- Icono -->
    <link rel="icon" href="/assets/img/logo bootcampAR.png" type="Imagen/png"/>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/css/update.css">
    <title>BootcampAr | Update</title>
  </head>
  <body>
    <!-- header -->
    <header></header>
    <!-- fin-header -->

    <!-- nav -->
    <nav></nav>
    <!-- fin-aav  -->
    <!-- main -->

      <!-- aside -->
      <aside></aside>
      <!-- fin-aside -->

      <!-- section -->
        <main>
            <article>
                <section>
                  <div class="container">
                    <div class="row">
                      <!--cuerpo izquierda-->
                      <div class="col cuerpo titulo">
                        <div class="row bg-banner bg-imagen bg-txt ">
                          <div class="col">
                            <h1 class="titulo">Actulizar datos</h1>
                          </div>
                        </div>

                        <div class="row input_usuario">
                          <div class="col">
                            <label for="">Nombre</label>
                            <div class="input-group mb-3 mt-2">
                              <div class="form-floating">
                                <input type="text" class="form-control" name="up_nombre" id="up_nombre" placeholder="Nombre">
                              </div>
                              <div></div>
                            </div>
                          </div>
                        </div>
                        <div class="row input_usuario">
                          <div class="col">
                            <label for="">Apellido</label>
                            <div class="input-group mb-3 mt-2">
                              <div class="form-floating">
                                <input type="text" class="form-control" name="up_apellido" id="up_apellido" placeholder="Apellido">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row input_usuario">
                          <div class="col">
                            <label for="">Email</label>
                            <div class="input-group mb-3 mt-2">
                              <div class="form-floating">
                                <input type="text" class="form-control" name="up_email" id="up_email" placeholder="Email">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="d-grid gap-2 col mx-auto">
                            <div class="d-grid gap-2">
                              <button class="btn btn-success mt-3" type="button" onclick="update()">Actualizar</button>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="d-grid gap-2 col-5 mx-auto mt-5">
                              <div class="d-grid gap-2">
                                  <button class="btn btn-primary" type="button" onclick="inicio">Inicio</button>
                              </div>
                          </div>
                          <div class="d-grid gap-2 col-5 mx-auto mt-5">
                              <div class="d-grid gap-2">
                                  <button class="btn btn-primary" type="button" onclick="login()">Login</button>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </article>
          </section>
        </main>
    <!-- fin-main -->

    <!-- footer -->
    <footer></footer>
    <!-- fin-footer -->

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/js/entidades.js"></script>
    <script src="/assets/js/update.js"></script>
  </body>
</html>
