<app-layout>
    <div class="container body-c">
        <div class="row">
            <div class="col">

                <!-- Aqui se coloca, los detalles de los items comprados -->

                <div class="row"> <!-- Colocar aqui en ngFor -->
                    <div class="col bg-light m-1 rounded">
                        <div class="row">
                            <div class="col-1">
                                <figure>
                                    <img src="" alt="foto"> <!-- Aqui se coloca la img de la base de datos -->
                                </figure>
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <h3>Titulo</h3> <!-- Aqui se coloca la img de la base de datos -->
                                </div>
                                <div class="row">
                                    <p>Descripcion</p> <!-- Aqui se coloca la img de la base de datos -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Ejemplo -->

                <div class="row"  > <!-- Colocar aqui en ngFor -->

                    <div class="col bg-light m-1 rounded">
                        <div class="row">
                            <div class="col-1">
                                <figure>
                                    <img src="" alt="foto"> <!-- se coloca se coloca la img de la base de datos -->
                                </figure>
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <h3>Titulo</h3> <!-- se coloca se coloca la img de la base de datos -->
                                </div>
                                <div class="row">
                                    <p>Descripcion</p> <!-- se coloca se coloca la img de la base de datos -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- --------------------------------------------------------------------- -->
            </div>
            <!-- Aqui se coloca la suma de los items -->

            <div class="col-1 bg-light m-1 rounded">  

                <div class="row" >  <!-- Colocar aqui en ngFor -->

                    <p>$ 100</p> <!-- Aqui, ira los precios -->
                    <p>$ 100</p> <!-- Aqui, ira los precios -->
                    <p>$ 100</p> <!-- Aqui, ira los precios -->
                    <p>$ 100</p> <!-- Aqui, ira los precios -->

                </div>
                <div class="row">
                    <p>Total $555</p> <!-- Aqui, se coloca la suma total -->
                </div>
            </div>
            <!-- --------------------------------------------------------------------- -->
        </div>
        <div class="row m-1">
            <div class="col-12">
                <a href="/confirmacion-pago">
                <button type="button" class="btn btn-success">Comprar</button>
            </a>
            </div>
        </div>
        <div class="row m-1">
            <div class="col-12">
                <a href="/cursos">
                <button type="button" class="btn btn-danger">Volver atras</button>
            </a>
            </div>
        </div>
    </div>
</app-layout>