<app-layout>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <img src="{{ curso.imagenes }}" alt="Product Image" class="img-fluid" />
            </div>
            <div class="col-md-6">
                <h1 class="mb-4">{{ curso.titulo }}</h1>
                <div class="col-md-10 pr-5">
                    <p class="text-muted pr-5">
                        {{ curso.descripcion }}
                    </p>
                    <h4 class="mb-3">Precio: {{ curso.precio }}</h4>
                    <div>
                        <button class="btn btn-primary">COMPRAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-layout>