<app-layout>
    <div class="container">
        <div class="row">
            <h3>Ing. Andres Montolla</h3>
            <div class="col">
                <img src="" alt="adasd">
            </div>
            <div class="col">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nulla, voluptatem rerum nobis est itaque
                adipisci esse quas, perspiciatis, sapiente iusto quisquam repellendus. Ipsum fuga corrupti ipsam,
                laboriosam rem esse.
            </div>
        </div>
        <div class="row">
            <h3>Ing. Antonela Paes</h3>
            <div class="col">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nulla, voluptatem rerum nobis est itaque
                adipisci esse quas, perspiciatis, sapiente iusto quisquam repellendus. Ipsum fuga corrupti ipsam,
                laboriosam rem esse.
            </div>
            <div class="col">
                <img src="" alt="asd">
            </div>
        </div>
        <div class="row">
            <h3>Lic. Aurelio Anderson</h3>
            <div class="col">
                <img src="" alt="asdklj">
            </div>
            <div class="col">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nulla, voluptatem rerum nobis est itaque
                adipisci esse quas, perspiciatis, sapiente iusto quisquam repellendus. Ipsum fuga corrupti ipsam,
                laboriosam rem esse.
            </div>
        </div>
    </div>
</app-layout>