<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <!-- Fuentes -->
  <link rel="preconnect"
        href="https://fonts.googleapis.com">
  <link rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&family=Poppins:wght@100;200;400;700&display=swap"
        rel="stylesheet">
  <!-- Icono -->
  <link rel="icon"
        href="../../assets/img/logo bootcampAR.png"
        type="Imagen/png" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
        crossorigin="anonymous" />
  <link rel="stylesheet"
        href="../../assets/css/styles_main.css">
  <link rel="stylesheet"
        href="../../assets/css/footer.css">
  <link rel="stylesheet"
        href="../../assets/css/login.css" />
  <title>BootcampAr | Login</title>
</head>

<body>

  <div class="container mainPer">

    <!-- header -->
    <header class="container">
      <div class="row align-items-center mt-md-5">
        <div class="col-md-4 mt-4 mb-4 mt-md-0 mb-md-0"><a href="../../"><img class="imglogo img-fluid"
                 src="../../assets/img/pag-Inicio/img-barradenavegacion/logo.png"
                 alt="Logo"></a></div>
        <div class="col-md-3 mb-4 mb-md-0">
          <form action="/."
                method="get">
            <div class="serachBar">
              <input type="text"
                     class="p-1 serachBar_input"
                     name="search"
                     id="search"
                     placeholder="Buscar">
              <button type="submit"
                      class="serachBar_button">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="18"
                     height="18"
                     fill="currentColor"
                     class="bi bi-search"
                     viewBox="0 0 16 16">
                  <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-5">
          <!-- nav -->
          <nav>
            <div class="row justify-content-between justify-content-md-start arfigcaption">
              <div class="col-2">
                <figure onmouseover="changeClass('nosotros')"
                        onmouseout="restClass('nosotros')"
                        class="text-center  mt-1"
                        title="Nosotros"><a href="https://mountaincode.com.ar/integrantes/"
                     target="_blank"><img class="img-fluid imgPer"
                         src="../../assets/img/pag-Inicio/img-barradenavegacion/nosotros.png"
                         alt="Nosotros"></a>
                  <figcaption id="nosotros"
                              class="ms-md-2 d-none fw-lighter text-light">
                    Nosotros
                  </figcaption>
                </figure>
              </div>
              <div class="col-2">
                <figure onmouseover="changeClass('curso')"
                        onmouseout="restClass('curso')"
                        class="text-center mt-1"
                        title="Cursos"><a href="views/Cursos/"
                     target="_self"><img class="img-fluid imgPer "
                         src="../../assets/img/pag-Inicio/img-barradenavegacion/cursos.png"
                         alt="Cursos"></a>
                  <figcaption id="curso"
                              class="ms-md-3 d-none fw-lighter text-light">
                    Cursos
                  </figcaption>
                </figure>
              </div>
              <div class="col-2">
                <figure onmouseover="changeClass('compras')"
                        onmouseout="restClass('compras')"
                        class="text-center mt-1 fig"
                        title="Compras"><a href="views/Store/"
                     target="_self"><img class="img-fluid imgPer"
                         src="../../assets/img/pag-Inicio/img-barradenavegacion/cart.png"
                         alt="Compras"></a>
                  <figcaption id="compras"
                              class="ms-md-3 d-none fw-lighter text-light">
                    Tienda
                  </figcaption>
                </figure>
              </div>
              <div class="col-2">
                <figure onmouseover="changeClass('noti')"
                        onmouseout="restClass('noti')"
                        class="text-center mt-1"
                        title=""><a href="#"
                     target="_self"><img class="img-fluid imgPer"
                         src="../../assets/img/pag-Inicio/img-barradenavegacion/noti.png"
                         alt=""></a>
                  <figcaption id="noti"
                              class="ms-md-3 d-none fw-lighter text-light">
                    Avisos
                  </figcaption>
                </figure>
              </div>
              <div class="col-2">
                <figure onmouseover="changeClass('perfil')"
                        onmouseout="restClass('perfil')"
                        class="text-center mt-1"
                        title="Perfil"><a href="views/Perfil/"
                     target="_self"><img class="img-fluid imgPer"
                         src="../../assets/img/pag-Inicio/img-barradenavegacion/perfil.png"
                         alt="Perfil"></a>
                  <figcaption id="perfil"
                              class="ms-md-3 d-none fw-lighter text-light">
                    Perfil
                  </figcaption>
                </figure>
              </div>
            </div>
          </nav>
          <!-- fin-aav  -->
        </div>
      </div>
    </header>
    <!-- fin-header -->
    <!-- main inicio -->

    <main>
      <section>
        <div class="container">
          <div class="row c_completo">
            <!--cuerpo izquierda-->
            <div class="col-md cuerpo">
              <div class="row bg-banner bg-imagen bg-txt">
                <div class="col-md">
                  <h1 class="txt_banner">Log In</h1>
                </div>
                <div class="col-md-4 img-ingreso">
                  <img src="/assets/img/pag-login/img-barradelogin/Icon-ingreso.png"
                       class="rounded float-end"
                       alt="">
                </div>
              </div>
              <div class="row input_usuario">
                <div class="col-md">
                  <label for="">Usuario</label>
                  <div class="input-group mb-3 mt-2">
                    <span class="input-group-text"><img class="icon_input"
                           src="../../assets/img/pag-login/img-barradelogin/Icon-usuario.png"
                           alt=""></span>
                    <div class="form-floating">
                      <input type="text"
                             class="form-control"
                             name="N_usuario_login"
                             id="N_usuario_login"
                             placeholder="Usuario"
                             minlength="3"
                             maxlength="10">
                    </div>
                  </div>
                  <div class="row">
                    <div class="mt-2"
                         id="rep_user"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <label for="">Contraseña</label>
                  <div class="input-group mb-3 mt-2">
                    <span class="input-group-text"><img class="icon_input"
                           src="../../assets/img/pag-login/img-barradelogin/Icon-contraseña.png"
                           alt=""></span>
                    <div class="form-floating">
                      <input type="password"
                             class="form-control"
                             name="contraseña_login"
                             id="contraseña_login"
                             placeholder="Contraseña"
                             minlength="4"
                             maxlength="8">
                    </div>
                  </div>
                  <div class="row">
                    <div class="mt-2"
                         id="rep_pass"></div>
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-4 check"><input type="checkbox" />Recordar contraseña</div>
                <div class="col"><button class="btn btn-success btn-profe"
                          onclick="profe()">Profe presione en mi</button></div>
              </div>
              <div class="row">
                <div class="d-grid gap-2 col mx-auto">
                  <div class="d-grid gap-2">
                    <button class="btn btn-primary boton_login"
                            type="button"
                            onclick="login()">Iniciar Sesion</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="d-grid gap-2 col mx-auto mt-2">
                  <div class="d-grid gap-2">
                    <button class="btn btn-primary boton_login"
                            type="button">Ingresa con <img
                           src="../../assets/img/pag-login/img-barradelogin/Icon-google.png"
                           alt="img"></button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="d-grid gap-2 col-5 mx-auto mt-3">
                  <button type="button"
                          class="btn btn-primary btn-lg"
                          onclick="reguistro()">Registrate<br>aqui</button>
                </div>
                <div class="d-grid gap-2 col-5 mx-auto mt-3">
                  <button type="button"
                          class="btn btn-primary btn-lg">Recuperar<br>contraseña</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </main>
    <!-- fin-main -->



    <!-- footer -->
    <footer class="container mb-2 bg_footer mt-5">
      <!--footer parte superior -->
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col mt-3">
              <button class="boton_footer txt_footer">Más info</button>
            </div>
            <div class="col mt-3">
              <div class="form-floating">
                <input class="form-control"
                       placeholder="Leave a comment here"
                       id="floatingTextarea"></input>
                <label for="floatingTextarea">Mail</label>
              </div>
            </div>

            <div class="col mt-2">
              <p class="txt_footer_msj">Déjanos tu mail y te enviaremos más información sobrenuestros cursos </p>
            </div>
          </div>
        </div>

        <div class="col">

          <div class="row">
            <div class="col mt-4 text-center">
              <a class="txt_footer"
                 style="text-decoration: none;"
                 href="../../"> Home </a>
            </div>
            <div class="col mt-4 text-center ">
              <a class="txt_footer"
                 style="text-decoration: none;"
                 href="../../views/Cursos/"> Cursos </a>
            </div>
            <div class="col mt-4 text-center ">
              <a class="txt_footer"
                 style="text-decoration: none;"
                 href="../../views/Store/"> Tienda </a>
            </div>
            <div class="col mt-4 text-center ">
              <a class="txt_footer"
                 style="text-decoration: none;"
                 href="../../views/Perfil/"> Perfil </a>
            </div>
            <div class="col mt-4 text-center ">
              <a class="txt_footer"
                 style="text-decoration: none;"
                 href="../../views/Login/login.html"> Login </a>
            </div>
          </div>
        </div>

      </div>

      <!--footer parte inferior-->


      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col mt-3">
              <p class="txt_footer"
                 style="text-decoration: none; text-align: center;"> © Copyright 2022 - Argentina</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="row">
            <div class="col mb-4">
              <a href="https://www.facebook.com/">
                <img class="icon_facebook rounded mx-auto d-block"
                     src="../../assets/img/pag-Inicio/img-footer/facebook-logo.png"
                     alt="">
              </a>
            </div>
            <div class="col">
              <a href="https://www.instagram.com/">
                <img class="icon_instagram rounded mx-auto d-block"
                     src="../../assets/img/pag-Inicio/img-footer/instagram-logo.png"
                     alt="">
              </a>
            </div>
            <div class="col">
              <a href="https://twitter.com/">

                <img class="icon_twitter rounded mx-auto d-block"
                     src="../../assets/img/pag-Inicio/img-footer/twitter-logo.png"
                     alt="">
              </a>
            </div>
            <div class="col">
              <a href="https://www.youtube.com/">
                <img class="icon_youtube rounded mx-auto d-block"
                     src="../../assets/img/pag-Inicio/img-footer/youtube-logo.png"
                     alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- fin-footer -->
  </div>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
          crossorigin="anonymous"></script>
  <script src="../../assets/js/main.js"></script>
  <script src="../../assets/js/entidades.js"></script>
  <script src="../../assets/js/login.js"></script>
</body>

</html>