.container-main-top{
    margin: 1% 0%;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    color: #F1F6F9;
}

.title-main{
    margin: 5% 0%;
    word-wrap: break-word;
    font-size: 4rem;
    font-style: italic;
    text-shadow: 2px 2px black;
}

.text-main{
    margin: 2% 0%;
    font-size: 1.5rem;
    text-shadow: 2px 2px black;
}

.container-main-bot{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-main{
    margin: 5%;
    background-color:  rgba(0, 0, 0, 0.498);
    border-radius: 0px 30px;
    width: 25rem;
    color: #F1F6F9;
}

.card-main:hover{
    transition: 1s;
    transform: translateY(-25px);
}

.card-main-title{
    font-size: 1.7rem;
    font-style: italic;
    margin: 5% 0%;
    text-align: center;
}

.card-main-text{
    margin: 3% 0%;
    padding: 2% 10%;
    font-size: 1.2rem;
}

@media screen and (min-width: 540px) and (max-width: 1368px){
    .container-main-top{
        width: 90%;
    }

    .card-main{
        margin: 5%;
        background-color: 212a3ead;
        border-radius: 0px 30px;
        width: 40rem;
        color: #F1F6F9;
    }

    .text-main{
        margin: 2% 0%;
        font-size: 2rem;
        text-shadow: 2px 2px black;
    }

    .card-main-title{
        font-size: 2.3rem;
        font-style: italic;
        margin: 5% 0%;
        text-align: center;
    }
    
    .card-main-text{
        margin: 3% 0%;
        padding: 2% 10%;
        font-size: 1.7rem;
    }


}