<main>
    <section class="container-main-top">
        <h2 class="title-main">Bienvenido</h2>
        <p class="text-main">
            ¡Bienvenido al repositorio del proyecto BootcampAr del "Instituto Superior Politécnico de Córdoba" Este proyecto es una aplicación de una sola página (SPA) desarrollada con Angular, que incluye un sistema de comercio electrónico (e-commerce).
        </p>
    </section>

    <div class="container-main-bot">
        <section class="card-main">
            <h2 class="card-main-title">Descripción del proyecto</h2>
            <p class="card-main-text">
                BootcampAr es una plataforma de aprendizaje en línea que ofrece cursos sobre tecnología y desarrollo de software. 
            </p>
        </section>
        <section class="card-main">
            <h2 class="card-main-title">Descripción del proyecto</h2>
            <p class="card-main-text">
                Los estudiantes pueden registrarse, acceder a una variedad de cursos, comprarlos con una pasarela de pago integrada y realizar un seguimiento de su progreso en los mismos.
            </p>
        </section>
        <section class="card-main">
            <h2 class="card-main-title">Descripción del proyecto</h2>
            <p class="card-main-text">
                La aplicación incluye características como autenticación de usuarios, búsqueda y filtrado de cursos, carrito de compras, pagos en línea y un panel de administración para gestionar las capacitaciones y los usuarios.
            </p>
        </section>
    </div>
</main>