<app-layout>
    <main>
        <section class="container-main-top">
            <h2 class="title-main">Bienvenido</h2>
            <p class="text-main">
                En BootcampaAr vamos a guiarte en la aventura de convertirte en developer con nuestros cursos sobre Backend, FrontEnd y Base de Datos, pero descuida no estarás solo, pues nuestros mentores especializados te acompañaran a lo largo de este recorrido a la  a la cima de tu carrera.
            </p>
            <p class="text-main">
                ¿Quiere participar de esta excursión?
                <a class="text-main" href="">Registrate aqui</a>
            </p>
        </section>

        <div class="container-main-bot">
            <section class="card-main">
                <h2 class="card-main-title">Nuestro meta</h2>
                <p class="card-main-text">
                    Como estudiantes conocemos las dificultades que suelen presentarse a lo largo de una formación, por ello queremos brindan nuestros conocimientos no solo para garantizar una gran experiencia de usuario, sino también compartir nuestras experiencia y acompañar a nuevos programadores a la cima de sus carreras
                </p>
            </section>
            <section class="card-main">
                <h2 class="card-main-title">¿Quiénes Somos?</h2>
                <p class="card-main-text">
                    La empresa se forjó con la búsqueda constante de nuevos conocimientos impulsada por 6 estudiantes de la carrera de desarrollo web y aplicaciones móviles, que de manera conjunta compartían no solo información, sino también experiencias y visiones personales en actividades prácticas para impulsar sus carreras y conocimientos en el sector IT, en búsqueda de su camino a la cima como programadores
                </p>
            </section>
            <section class="card-main">
                <h2 class="card-main-title">Nuestros Valores</h2>
                <p class="card-main-text">
                    Quien posee conocimiento debe compartirlo y enseñar con, paciencia, dedicación y esfuerzo, siempre dando la posibilidad a que surjan dificultades en el proceso y alentar al estudiante que una piedra en el camino solo es un pequeño obstáculo y no el fin del trayecto.
                </p>
                <p class="card-main-text">
                    Paciencia, Respeto y Dedicación. Son nuestros principales valores al momento de acompañar a nuestros alumnos
                </p>
            </section>
        </div>
    </main>
</app-layout>

