<app-layout>
    <main>
        <section class="container-main-top">
            <h2 class="title-main">Bienvenido</h2>
            <p class="text-main">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos pariatur non ab, repudiandae accusamus cumque iure ipsum earum et omnis veritatis velit, est voluptatem laborum! Animi non minima suscipit nam! Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Itaque, non consectetur quasi magni porro unde laboriosam voluptatem ratione. Assumenda temporibus ratione animi amet non facilis molestiae, rem distinctio itaque harum.
            </p>
        </section>

        <div class="container-main-bot">
            <section class="card-main">
                <h2 class="card-main-title">Title</h2>
                <p class="card-main-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum totam aliquid earum vitae beatae voluptate dignissimos, fugiat, commodi eveniet suscipit perferendis possimus obcaecati sunt. Quaerat eaque dignissimos praesentium quos quia?
                </p>
            </section>
            <section class="card-main">
                <h2 class="card-main-title">Title</h2>
                <p class="card-main-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum totam aliquid earum vitae beatae voluptate dignissimos, fugiat, commodi eveniet suscipit perferendis possimus obcaecati sunt. Quaerat eaque dignissimos praesentium quos quia?
                </p>
            </section>
            <section class="card-main">
                <h2 class="card-main-title">Title</h2>
                <p class="card-main-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum totam aliquid earum vitae beatae voluptate dignissimos, fugiat, commodi eveniet suscipit perferendis possimus obcaecati sunt. Quaerat eaque dignissimos praesentium quos quia?
                </p>
            </section>
        </div>
    </main>
</app-layout>

