<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./registro.component.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="cont-main">
      <section class="cont-register">
        <h2 class="title-register">Registro</h2>
        <form class="form" action="">
          <fieldset class="first-row">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
          </fieldset>
          <fieldset>
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" placeholder="Ingresa tu apellido">
          </fieldset>
          <fieldset>
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico">
          </fieldset>
          <fieldset>
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña">
          </fieldset>
          <fieldset>
            <label for="celular" class="form-label">Celular</label>
            <input type="tel" class="form-control" id="celular" placeholder="Ingresa tu número de celular">
          </fieldset>
          <fieldset>
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" placeholder="Ingresa tu dirección">
          </fieldset>
          <fieldset>
            <label for="pais" class="form-label">País</label>
            <input type="text" class="form-control" id="pais" placeholder="Ingresa tu país">
          </fieldset>
          <fieldset>
            <label for="rol" class="form-label">Rol</label>
                <select class="form-select" id="rol">
                  <option value="">Selecciona un rol</option>
                  <option value="estudiante">Estudiante</option>
                  <option value="profesor">Profesor</option>
                </select>
          </fieldset>
          <button class="btn-register">Registrase</button>
        </form>
      </section>
    </main>
  </body>
</html>





