<app-layout>
  
  
  <form>
  <div class="body-Registrarse">
    <section class="container-registro">
        <h1 class="title-registro">Registrarse</h1>
    <div class="mb-12">
      <label for="inputUsuario" class="form-label">Usuario</label>
      <input type="usuario" class="form-control" id="inputUsuario" placeholder="Usuario">
    </div>
    <div class="mb-12">
      <label for="inputEmail" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="mb-12">
      <label for="inputContraseña" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="inputContraseña" placeholder="Contraseña">
    </div>
    <div class="mb-12">
      <label for="inputContraseña" class="form-label">Confirmar Contraseña</label>
      <input type="password" class="form-control" id="inputContraseña" placeholder="Confirmar Contraseña">
    </div>
    <div class="mb-12">
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </div>
  </section>
 </div>
 </form>
</app-layout>








