<app-layout>
    <div class="w-50 m-auto mt-5">
        <div class="row">
            <div class="col">
                <form [formGroup]="registroForm" (ngSubmit)="onSubmit(registroForm)" class="form" action="">
                    <div class="body-registrarse">
                        <section class="container-registro">
                            <h1 class="title-registro text-white mb-4">Registrarse</h1>
                            <div class="mb-2 col-md-5 cont-inp">
                                <label for="inputUsuario" class="text-white mb-2 title-inp">Usuario</label>
                                <input type="usuario" class="form-control inp" id="inputUsuario" placeholder="Usuario" formControlName="usuarioname">
                                <div *ngIf="Usuarioname?.errors && Usuarioname?.touched" class="mt-3">
                                    <p *ngIf="Usuarioname?.hasError('required')" class="text-danger">
                                        El nombre de usuario es requerido.
                                    </p>
                                    <p *ngIf="Usuarioname?.hasError('usuarioname')" class="text-danger">
                                        El usuario debe ser válido.
                                    </p>
                                </div>
                                <div *ngIf="Usuarioname?.valid" class="mt-3">
                                    <p class="text-success">Nombre de usuario válido</p>
                                </div>
                            </div>

                            <div class="mb-2 col-md-7 cont-inp">
                                <label for="inputEmail" class="text-white mb-2 title-inp">Email</label>
                                <input type="email" class="form-control inp" id="inputEmail" placeholder="Email" formControlName="email">
                                <div *ngIf="Email?.errors && Email?.touched" class="mt-3">
                                    <p *ngIf="Email?.hasError('required')" class="text-danger">
                                        El email es requerido.
                                    </p>
                                    <p *ngIf="Email?.hasError('email')" class="text-danger">
                                        El email debe ser válido.
                                    </p>
                                </div>
                                <div *ngIf="Email?.valid" class="mt-3">
                                    <p class="text-success">Email válido</p>
                                </div>
                            </div>

                            <div class="mb-2 col-md-4 cont-inp">
                                <label for="inputContraseña" class="text-white mb-2 title-inp">Contraseña</label>
                                <input type="password" class="form-control inp" id="inputContraseña" placeholder="Contraseña" formControlName="password">
                                <div *ngIf="Password?.errors && Password?.touched" class="mt-3">
                                    <p *ngIf="Password?.hasError('required')" class="text-danger">
                                        El password es requerido.
                                    </p>
                                    <p *ngIf="Password?.errors" class="text-danger">
                                        El password debe ser de 8 o más caracteres.
                                    </p>
                                </div>
                            </div>

                            <div class="mb-2 col-md-4 cont-inp">
                                <label for="inputConfimarContraseña" class="text-white mb-2 title-inp">Confirmar Contraseña</label>
                                <input type="password" class="form-control inp" id="inputConfimarContraseña" placeholder="Confirmar Contraseña" formControlName="confirmPassword">
                                <div *ngIf="ConfirmPassword?.errors && ConfirmPassword?.touched" class="mt-3">
                                    <p *ngIf="ConfirmPassword?.hasError('required')" class="text-danger">
                                        La confirmación de la contraseña es requerida.
                                    </p>
                                    <p *ngIf="ConfirmPassword?.errors" class="text-danger">
                                        La contraseña debe ser de 8 o más caracteres.
                                    </p>
                                    <p *ngIf="ConfirmPassword?.value !== Password?.value" class="text-danger">
                                        Los campos son diferentes
                                    </p>
                                </div>
                            </div>
                            <div class="mb-2">
                                <button type="submit" class="btn btn-primary mt-3">Registrarse</button>
                            </div>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>

</app-layout>