<!DOCTYPE html> 

<html lang="en"> 

<head> 
<meta charset="UTF-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="login.component.css"> 
<title>Document</title> 
</head> 

 
 

<body> 

    <header class="container-header"> 

        <figure class="container-header-logo"> 

            <img class="logo" src="assets/img/home/img-bannerquienessomos/logo-bootcampar.png" alt=""> 

        </figure> 

        <nav class="container-nav"> 

            <a class="nav-but" href="">Home</a> 

            <a class="nav-but" href="">About us</a> 

            <a class="nav-but" href="">Contact</a> 

            <a class="nav-but" href="">Store</a> 

            <div class="container-login"> 

                <img class="icon" src="assets/img/home/img-barradenavegacion/noti.png" alt=""> 

                <img class="icon" src="assets/img/home/img-barradenavegacion/perfil.png" alt=""> 

            </div> 

        </nav> 

    </header> 

 
 

    <main> 

        <section class="container-card-login"> 

            <h1 class="login-title">Login</h1> 

            <form class="login-form" action=""> 

                <label for="">User</label> 

                <input class="inp-login" type="email" required> 

                <label for="">Password</label> 

                <input class="inp-login" type="password" required> 

                <a class="a-login" href="">Olvidaste tu contraseña ?</a> 

                <button class="btn-login">Login</button> 

                <button class="btn-login">Registrate</button> 

            </form> 

        </section> 

    </main> 

 
 

    <footer class="footer"> 

        <div class="container-icon-footer"> 

            <img class="icon" src="assets/img/home/img-footer/facebook-logo.png" alt=""> 

            <img class="icon" src="assets/img/home/img-footer/instagram-logo.png" alt=""> 

            <img class="icon" src="assets/img/home/img-footer/twitter-logo.png" alt=""> 

            <img class="icon" src="assets/img/home/img-footer/youtube-logo.png" alt=""> 

        </div> 

    </footer> 

</body> 

</html> 
