<app-layout>
    <main>
        <section class="container-card-login">
            <h1 class="login-title">Login</h1>


            <form class="login-form" action="">
                <label for="">User</label>


                <input class="form-control" type="email"id="" aria-describedby="emailHelp" placeholder="Enter email" required />


                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
               
                <label for="">Password</label>


                <input class="form-control" type="password" id="" placeholder="Password" required />


                <a class="a-login" href="">Olvidaste tu contraseña ?</a>


                <button class="btn-login">Login</button>


                <button class="btn-login">Registrate</button>
            </form>
        </section>

    </main>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="login.component.css">
        <title>Login</title>
    </head>
</app-layout>