<header class="container-header">

    <figure class="container-header-logo">

        <img class="logo" src="../../../assets/img/logo-bootcampar.ico" alt="">

    </figure>

    <nav class="container-nav">

        <a class="nav-but" href="/">Home</a>

        <a class="nav-but" href="/login">Login</a>

        <a class="nav-but" href="/createCourse">Crear Producto</a>

        <a class="nav-but" href="/product-details/1">Detalle Producto</a>

        <div class="container-login">

            <img class="icon" src="assets/img/home/img-barradenavegacion/noti.png" alt="">

            <a href="/perfil"><img class="icon" src="assets/img/home/img-barradenavegacion/perfil.png" alt=""></a>

        </div>

    </nav>

</header>