.container-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    box-shadow: 0px 20px 33px #c5c5c5, -0px 15px 33px #c5c5c5;
}


.container-header-logo{
    display: flex;
    margin: 1%;
    align-items: center;
}

.logo{
    width: 30%;
}

.container-nav{
    width: 40vw;

    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.nav-but {
    text-align: center;
    width: 8rem;
    margin: 1%;
    border-radius: 10px;
    padding: 1rem;
    color: white;
    text-decoration: none;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

.nav-but:hover {
    background-color: rgba(128, 128, 128, 0.646);
    transition: 1s;
    text-decoration: underline;
}

.active {
    background-color: rgba(128, 128, 128, 0.389);
}

.container-login {
    padding: 2% 2%;
    border: 2px solid grey;
    border-radius: 15px;
    height: 3.5rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.icon:hover {
    cursor: pointer;
}

@media screen and (min-width: 180px) and (max-width: 540px){
    .container-header{
        flex-direction: column;
    }


    .container-header-logo{
        display: flex;
        justify-content: center;
        margin: 5% 0%;
    }

    .container-nav{
        margin: 5% 0%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .btn-nav{
        text-align: center;
        width: 50%;
        margin: 1.5% 0%;
    }
}

@media screen and (min-width: 540px) and (max-width: 1280px){
    .container-header{
        flex-direction: column;
    }


    .container-header-logo{
        display: flex;
        justify-content: center;
        margin: 5% 0%;
    }

    .container-nav{
        margin: 5% 0%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .nav-but{
        text-align: center;
        width: 50%;
        margin: 1.5% 0%;
    }
    .container-login{
        width: 50%;
    }
}