.container-header {
    padding: 1% 0%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 0% 0% 20% 20%;
    background-color: #394867;
}


.container-header-logo{
    display: flex;
    margin: 1%;
    align-items: center;
}

.logo{
    width: 30%;
}

.container-nav{
    width: 40vw;

    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.nav-but {
    text-align: center;
    width: 8rem;
    margin: 1%;
    border-radius: 10px;
    padding: 1rem;
    color: #F1F6F9;
    text-decoration: none;
    border-right: 1px solid #9BA4B5;
    border-left: 1px solid #9BA4B5;
}

.nav-but:hover {
    background-color: #9BA4B5;
    color: black;
    transition: 1s;
}

.container-login {
    padding: 2% 2%;
    border: 2px solid #9BA4B5;
    border-radius: 15px;
    height: 3.5rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.icon:hover {
    cursor: pointer;
}

@media screen and (min-width: 180px) and (max-width: 540px){
    .container-header{
        flex-direction: column;
    }


    .container-header-logo{
        display: flex;
        justify-content: center;
        margin: 5% 0%;
    }

    .container-nav{
        margin: 5% 0%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .btn-nav{
        text-align: center;
        width: 50%;
        margin: 1.5% 0%;
    }
    .container-login {
        padding: 2% 2%;
        border: 2px solid #9BA4B5;
        border-radius: 15px;
        height: 3.5rem;
        width: 8rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 3% auto;
    }
}

@media screen and (min-width: 540px) and (max-width: 1280px){
    .container-header{
        flex-direction: column;
    }


    .container-header-logo{
        display: flex;
        justify-content: center;
        margin: 5% 0%;
    }

    .container-nav{
        margin: 5% 0%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .nav-but{
        text-align: center;
        width: 50%;
        margin: 1.5% 0%;
    }
    .container-login{
        margin: 3% auto;
        width: 50%;
    }
}