<header class="container-header">

    <figure class="container-header-logo">

        <img class="logo" src="../../../assets/img/logo-bootcampar.ico" alt="">

    </figure>

    <nav class="container-nav">

        <a *ngIf="isLoggedIn()" class="nav-but" href="/dashboard">Dashboard</a>

        <a class="nav-but" href="/">Inicio</a>

        <a class="nav-but" href="/cursos">Cursos</a>

        <!-- <a class="nav-but" href="/cursos">Registrate</a> -->
        <!-- 
        <a class="nav-but" href="/login">Login</a>

        <a class="nav-but" href="/createCourse">Crear Producto</a>

        <a class="nav-but" href="/product-details/1">Detalle Producto</a> -->

        <div class="container-login">

            <!-- <img class="icon" src="assets/img/home/img-barradenavegacion/noti.png" alt=""> -->

            <a href="/registro"><img class="iconReg" src="../../../assets/img/icons8-registro-30.png" alt="Nuevo"></a>

            <a href="/login"><img class="icon" src="assets/img/home/img-barradenavegacion/perfil.png" alt="Perfil"></a>

            <div *ngIf="isLoggedIn()">
                <img class="icon2" src="../../../assets/img/home/icons8-salir-redondeado-32.png" alt="Salir" (click)="logout()">
            </div>
        </div>

    </nav>

</header>