<header class="container-header">

    <figure class="container-header-logo">

        <img class="logo" src="assets/img/home/img-bannerquienessomos/logo-bootcampar.png" alt="">

    </figure>

    <nav class="container-nav">

        <a class="nav-but" href="">Home</a>

        <a class="nav-but" href="">About us</a>

        <a class="nav-but" href="">Contact</a>

        <a class="nav-but" href="">Store</a>

        <div class="container-login">

            <img class="icon" src="assets/img/home/img-barradenavegacion/noti.png" alt="">

            <img class="icon" src="assets/img/home/img-barradenavegacion/perfil.png" alt="">

        </div>

    </nav>

</header>