

.bg_img{
    
    background-image: url(/assets/img/pag-tienda/img-barradecategoriasdeproductos/fondo-barradecategoriasdeproductos.png);
    
}
    
.bg_banner{
    background-size: cover;
    text-align: center;
    align-items: center;
    width: 80%;
    height: 100px;
    background-color: #599DD9;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    position: relative;
    top: 150px;
    right: -190px;
    color: azure;

}



.boton {
    font-family: 'Montserrat', sans-serif;
    background-color: #7b7d80;
    border-radius: 15px;
    text-align: center;
    border: none;
    align-items: center;
    color: azure;
    height: 30px;
    justify-content: space-between;
    

}
.botontodo {
    font-family: 'Montserrat', sans-serif;
    background-color: #1445A6;
    border-radius: 15px;
    text-align: center;
    border: none;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    color: azure;
    position: relative;
    top: 0px;
    right: -10px;
    
}
.logo{
    width: 360%;
    padding: 15%;
}

.carta{
    background-color: #599DD9;
    width: 300px;
    height: 20%;
    border-radius: 20px;
    display: inline-block;
    margin-top: 200px;
    margin-left: 100px;

}
.titulocarta{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: azure;
}
.descripcioncarta{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    top: -5px;
    color: azure;
   
}
.gorra{
    width: 360%;
    padding: 15%;

}
.botonpuntos{
    background-color: #455973;
    border-radius: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    position: relative;
    top: 0px;
    right: -30px;
    color: azure;


}
.botoncanjear{
    background-color: #455973;
    border-radius: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    width: 130px;
    color: azure;
}
.agregaracarrito{
    background-color: #1445A6;
    border-radius: 20px;
    text-align: center;
    border: none;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: azure;
    position: relative;
    top: -10px; 
    right: -70px;
}
.txt_precio{
    background-color: #455973;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    text-align: center;
    border: none;
    align-items: center;
    height: 25px;
    width: 70px;
    position: relative;
    top: -10px;
    right: -40px;
    color: azure;

    
}
