<div class="body-listCourse">
    <section class="container-listCourse">
        <h1 class="title-listCourse">Lista de Usuarios</h1>
        <div class="table-responsive">
            <table class="table text-white">
                <thead>
                    <tr>
                        <th class="title" scope="col">Id</th>
                        <th class="title" scope="col">Imágenes</th>
                        <th class="title" scope="col">Título</th>
                        <th class="title" scope="col">Descripción</th>
                        <th class="title" scope="col">Lenguajes</th>
                        <th class="title" scope="col">Nivel</th>
                        <th class="title" scope="col">Precio</th>
                        <th class="title" scope="col" colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><img src="imagen1.jpg" alt="Imagen 1"></td>
                        <td>Producto 1</td>
                        <td>Descripción del producto 1</td>
                        <td>Python</td>
                        <td>Principiante</td>
                        <td>$19.99</td>
                        <td>
                            <a href="#" class="btn btn-primary btn-sm me-2">Editar</a>
                            <a href="#" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><img src="imagen2.jpg" alt="Imagen 2"></td>
                        <td>Producto 2</td>
                        <td>Descripción del producto 2</td>
                        <td>Java</td>
                        <td>Intermedio</td>
                        <td>$24.99</td>
                        <td>
                            <a href="#" class="btn btn-primary btn-sm me-2">Editar</a>
                            <a href="#" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    <!-- Agrega más filas para mostrar más productos -->
                </tbody>
            </table>
        </div>
    </section>
</div>