<div class="body-createCourse">
    <section class="container-createCourse">
        <h1 class="title-createCourse">Create Course</h1>
        <form action="">
            <fieldset class="conatinaer-form">
                <label for="">Titulo: 
                </label>
                <input type="text" required>
                <label for="">Duracion: 
                </label>
                <input type="date" required>
                <label for="">Lenguaje: 
                </label>
                <input type="url" required>
                <label for="">Imagenes: 
                </label>
                <input type="text" required>
                <label for="">Nivel: 
                </label>
                <input type="number" max="5" min="1" required>
                <label for="">Precio: 
                </label>
                <input type="number" required>
                <label for="">Descripcion: 
                </label>
                <textarea name="" id="" cols="30" rows="5"></textarea>
            </fieldset>
            <button class="btn-form"> Create </button>
        </form>
    </section>
</div>