<app-layout>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mt-4">
          <img
            src="{{ usuario?.Foto }}"
            class="card-img-top"
            alt="Foto de perfil"
          />
          <div class="card-body">
            <h5 class="card-title">
              {{ usuario?.Nombre }},{{ usuario?.Apellido }}
            </h5>
            <p class="card-text">{{ usuario?.Rol }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Información Personal</h5>
            <ul class="list-group">
              <li class="list-group-item">{{ usuario?.Telefono }}</li>
              <li class="list-group-item">{{ usuario?.Email }}</li>
              <li class="list-group-item">{{ usuario?.Pais }}</li>
              <li class="list-group-item">{{ usuario?.Direccion }}</li>
            </ul>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Intereses</h5>
            <ul class="list-group">
              <li class="list-group-item">Interés 1</li>
              <li class="list-group-item">Interés 2</li>
              <li class="list-group-item">Interés 3</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
