<app-layout>
    
    <div class= "container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mt-4">
            <img src="/frontend/src/assets/img/fotodeperfil.jpg   " class="card-img-top" alt="Foto de perfil">
            <div class="card-body">
              <h5 class="card-title">Juan Pérez</h5>
              <p class="card-text">Estudiante universitario</p></body> 
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mt-4">
            <div class="card-body">
              <h5 class="card-title">Información Personal</h5>
              <ul class="list-group">
                <li class="list-group-item">Celular: Celular del usuario</li>
                <li class="list-group-item">Edad: XX años</li>
                <li class="list-group-item">Email: correo@ejemplo.com</li>
                <li class="list-group-item">Ubicación: Ciudad, País</li>
                <li class="list-group-item">Ocupación: Ocupación del usuario</li>
                <li class="list-group-item">Redes Sociales</li>
              </ul>
            </div>
          </div>
          <div class="card mt-4">
            <div class="card-body">
              <h5 class="card-title">Intereses</h5>
              <ul class="list-group">
                <li class="list-group-item">Interés 1</li>
                <li class="list-group-item">Interés 2</li>
                <li class="list-group-item">Interés 3</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</app-layout>
