body {
	font-family: Arial, sans-serif;
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   }
    
  .list-group-item{
  border-color: black;
  border-width: 2px;
  }

header {
	display: flex;
	align-items: center;
}

img {
	border-radius: 200%;
	width: 300px;
	height: 315px;
	margin-right: 200px;
}

h1 {
	margin: 0;
}

h2 {
	margin-top: 30px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom: 10px;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

i {
	margin-right: 10px;
}

.card{
	background-color:  rgba(0, 0, 0, 0.498);
	color: white;
	border-radius: 15px;
}

.list-group-item{
	border: none;
	border-bottom: 1px solid grey;
	background-color: rgba(240, 248, 255, 0);
	color: white;
}

.body-perfil{
	height: 72vh;
}

.txt-btn{
	color: white;
}